.about-container {
  color: #E7DFDD;
}

.about-wrapper {
  background-color: rgba(14, 11, 22, 0.9);
  width: 100%;
  padding: 1% 0;
}

.about-wrapper h1{
  text-align: center;
  padding-bottom: 1%;
  font-weight: 600;
  font-size: 20px;
}

.about-wrapper p{
  width: 70%;
  margin: 0 auto;
  font-size: 11px;
}

.accordion-item {
  text-align: center;
}

.accordion-item button{
  margin: 0 auto;
  width: 70%;
  text-align: left;
  font-size: 11px;
}

.panel p{
  display: none;
}

.active p{
  display: block;
}

@media only screen and (min-width: 600px) {
  /* For tablets */
  .about-wrapper h1{
    font-size: 20px;
  }

  .about-wrapper p{
    font-size: 13px;
  }

  .accordion-item button{
    font-size: 13px;
  }
}

@media only screen and (min-width: 768px) {
  /* For desktop: */
  .about-wrapper h1{
    font-size: 25px;
  }

  .about-wrapper p{
    font-size: 16px;
  }

  .accordion-item button{
    font-size: 16px;
  }
}