html, body {
  height: 100%;
}

body {
  background-image: url('./bokeh.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Raleway', sans-serif;
}